body {
    background-color:rgba(84, 61, 32, 0.641);
    color:rgb(123, 68, 104);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}
main {
    background-color:rgba(74, 48, 15, 0.748);
    color:rgb(231, 234, 166);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px, 10px, 33px;
    padding-bottom: 60px;
}
footer {
    background-color:rgb(43, 28, 11);
    color:rgba(215, 215, 185, 0.888);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 6px;
    padding: 10px 0px;
    font-style: italic;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
header {
    background-color:rgba(43, 28, 11, 0.714);
    color:rgb(215, 215, 185, 0.888);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}
a {
    text-decoration: none;
    color:rgb(225, 187, 159);
    transition: 1s 2s;
}
a:link {
    text-decoration: underline;
    color:rgb(162, 242, 154);
}
a:visited {
    color:rgb(161, 249, 249);
}
a:hover {
    text-decoration: underline;
    color:rgb(233, 168, 142);
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.4;
}
div.menu {
    border: 7px solid rgba(179, 115, 51, 0.56);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color:rgba(35, 21, 3, 0.749);
    box-shadow: 0 0 15px rgba(145, 77, 5, 0.595);
    transition: 0.7s;

}

