<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шамшиева Даяна Артуровна. Лабораторная 8</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../favicon-32x32.png">
    <link rel="shortcut icon" href="../favicon-16x16.png">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <header>
        НГТУ, ФБ, Лабораторная работа 8
    </header>
    <main>
        <div id="app">
            <h1 :title="messageRus">{{ message }}</h1>
            <p>Счётчик: {{ counter }}</p>
            <button @click="incCounter" v-if='counter < 10'>++</button>
            <button @click="decCounter" v-if="counter > 0">--</button>
            <hr>
            <h2>Питомец:</h2>
            <div>Имя: {{ user.name }}</div>
            <div>Возраст: {{ user.age }}</div>
            <div>Порода: {{ user.breed }}</div>

            <h2>Аниме</h2>
            <ul>
                <li v-for="(ani, id) in anime">
                    {{ ani }} <button @click="edit(id, ani)">?</button>

                </li>
            </ul>
        </div>
    </main>
    <footer>
        <hr>
        &copy; Шамшиева Даяна, ФБИ-32, 2 курс, 2025
    </footer> 
    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello!',
                    messageRus: 'Привет!',
                    counter: 1,
                    user: {
                        name: 'Kiri',
                        age: '1',
                        breed: 'mongrels'
                    },
                    anime: ['Naruto', 'Hunter x Hunter', 'Jujutsu Kaisen', 'Attack on titan', 'One puncn man', 'Sword art online', 'Akame kill'],
                }
            },
            methods: {
                incCounter() {
                    this.counter++;
                },
                decCounter() {
                    this.counter--;
                },
                edit(id, ani) {
                    let newName = prompt('Введите название аниме:', ani);
                    this.anime[id] = newName;
                },
            }
        }).mount('#app');
    </script>   
</body>
</html>